.listProducts {
  background-color: white;
  padding-top: 40px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #ccc;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagKhuyenMai {
  position: absolute;
  right: 0;
  top: -25px;
  color: white;
  font-size: 1.6rem;
  height: 30px;
  min-width: 100px;
  background-color: rgba(105, 10, 10, 1);
  box-shadow: 2px 2px 2px rgba(105, 10, 10, 0.7);
  padding: auto;
}

.productImg {
  position: relative;
  width: 300px;
  height: 170px;
  /* max-width: 100%; */
  object-fit: contain;
  transition: all linear 0.2s;
  top: 23.1px;
  left: 18px;
}

.productImg:hover {
  transform: scale(1.06);
}

.itemProduct {
  width: 340px;
  height: 355px;
  position: relative;
}

.itemProduct__Title {
  font-size: 2rem;
  text-align: center;
  color: #990000;
  margin-bottom: 10px;
}

.itemProduct__Price {
  text-align: center;
  color: #655e5e;
  font-size: 1.4rem;
}

.linkDiscover {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: red;
  outline: 1px solid red;
  border-radius: 5px;
  padding: 11px 24px;
  position: relative;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.5s;
  margin: 40px 110px;
}

.linkDiscover:hover {
  color: white;
  background-color: #990000;
}

.linkDiscover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 200%;
  height: 100%;

  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -2;
  transition: transform 0.3s;
}

.linkDiscover:hover::before {
  transform: scaleX(1) skewX(35deg);
}
